<?php include('header.phtml'); ?>
                                <div class="row">
                                        <div class="content"></div>
                                </div>
<?php include('footer.phtml'); ?>